In [46]:
import pandas as pd

In [47]:
import matplotlib.pyplot as plt
import numpy as np

In [48]:
# numbers of folders : 14

we will import all the dataframes from the 14 folders and then make a dataframe for each of the folders.
but berofre. here's a simple example of one of the dataframes from folder 7554:

In [49]:
f = open("task4_train/7554/SimpleTest/1.csv")

In [50]:
df=pd.read_csv(f)

In [51]:
df=df.dropna()

In [52]:
df

                    X           Y   Pressure   TiltX   TiltY           Time
0    925.902760133965  665.541979   0.045884 -4917.0   669.0  00:12.6099853
1    925.902760133965  665.541979   0.045884 -4917.0   669.0  00:12.6256038
2    926.692689687031  665.647303   0.082506 -4917.0   669.0  00:12.6445684
3    927.008661508257  665.647303   0.115953 -4917.0   669.0  00:12.6602735
4    927.324633329484  665.594641   0.140368 -4917.0   669.0  00:12.6838147
..                ...         ...        ...     ...     ...            ...
127  585.495784732648  647.004966   0.378408 -4510.0  1946.0  00:14.0316787
128  584.863841090195  646.846980   0.382803 -4510.0  1946.0  00:14.0472865
129  584.863841090195  646.846980   0.386954 -4510.0  1946.0  00:14.0629098
130  584.653193209377  646.741656   0.386954 -4501.0  1991.0  00:14.0785335
131  584.653193209377  646.741656   0.389151 -4501.0  1991.0  00:14.0941464

[132 rows x 6 columns]

In [53]:
df_time

NameError: name 'df_time' is not defined

In [54]:
# df_time = pd.DataFrame()

In [55]:
# time= df[' Time'].copy().to_frame()

In [56]:
# df_time['time']=time

In [57]:
# df_time

In [58]:
# df_time['time_shift']=time.shift(periods = 1)

# לשים לב לא לשכוח לשים את הפונקציה convert_to_str לפני הקריאה!


# convert to date time function

In [69]:


def convert_to_float(df,col_name):
        i=0
        ser_float = pd.Series(dtype=float,index=df.index) 
        for time_sample in df[col_name]:
#             x = float('nan')
            check=pd.isnull(time_sample)
            if( check ):
                ser_float[i]=float('NaN')
                i=i+1
                continue
#             time_sample=pd.to_datetime(time_sample)
            else:
                str_time=str(time_sample) # in order to slice
                arr=str_time.split(sep=':') 
#                 print(arr)
                float_time=float(arr[1])
#                 print(float_time) # for checking    
                ser_float[i]=float_time
                i=i+1
        df[col_name]=ser_float 
        
        

#         df[col_name]=ser_str
        return df[col_name]

In [70]:
# df_time['time']=convert_to_float(df_time,'time')

In [71]:
# df_time['time']

In [72]:
# df_time['time_shift']=convert_to_float(df_time,'time_shift')

In [73]:
# df_time['time_shift']

In [74]:
# df_time["Diff"]=df_time['time'].sub(df_time['time_shift'])
#aapl["Diff"] = aapl.AAPL.sub(aapl.lag1)

In [75]:
# building a new function with columns time, shift_time and diff - the difference between the two other columns
def build_time_df(df):
    df_time = pd.DataFrame()
    df_time['time']= df[' Time'].copy().to_frame()
    df_time['time_shift']=df_time['time'].shift(periods = 1)
#     print(df_time)
    df_time['time']=convert_to_float(df_time,'time')
    df_time['time_shift']=convert_to_float(df_time,'time_shift')
    df_time['Diff']=df_time['time'].sub(df_time['time_shift'])
#     print(df_time)
    return df_time['Diff']

In [76]:
d=build_time_df(df)

In [77]:
# ACCURATE
# check how many time differences are bigger than 0.04 - if it's bigger , it's a hand raise , because the time that takes for a human hand to raise hand can't be less than 0.04 nano seconds. 
def count_raise_hand(num_folder):
    count=0
    for num_table in range (1,21):
        f= open('task4_train'+'/'+num_folder+'/SimpleTest/'+str(num_table)+'.csv')
        df=pd.read_csv(f)
#         print(df)
     
        df_time_diff=build_time_df(df)
        for diff in df_time_diff:
            if(diff>=4):
                count=count+1
        print("data frame number"+str(num_table))
        print("this is the number of hand raising in the df:")
        print(count)

In [78]:
count_raise_hand('7554')

data frame number1
this is the number of hand raising in the df:
0
data frame number2
this is the number of hand raising in the df:
0
data frame number3
this is the number of hand raising in the df:
0
data frame number4
this is the number of hand raising in the df:
0
data frame number5
this is the number of hand raising in the df:
1
data frame number6
this is the number of hand raising in the df:
1
data frame number7
this is the number of hand raising in the df:
1
data frame number8
this is the number of hand raising in the df:
1
data frame number9
this is the number of hand raising in the df:
1
data frame number10
this is the number of hand raising in the df:
2
data frame number11
this is the number of hand raising in the df:
2
data frame number12
this is the number of hand raising in the df:
2
data frame number13
this is the number of hand raising in the df:
3
data frame number14
this is the number of hand raising in the df:
3
data frame number15
this is the number of hand raising in the df:
3
data frame number16
this is the number of hand raising in the df:
5
data frame number17
this is the number of hand raising in the df:
6
data frame number18
this is the number of hand raising in the df:
6
data frame number19
this is the number of hand raising in the df:
8
data frame number20
this is the number of hand raising in the df:
8

# OLD

our goal: to convert the data in time column to datetime64.

we will first convert it to datetime and then convert it to a string in rder to slice the year,month and day. and then, we will convert it back to datetime.

In [ ]:
df[' Time']=pd.to_datetime(df[' Time'])
#pd.to_datetime([min(df[' Time']), max(df[' Time'])])

In [ ]:
str_time=str(df[' Time'][1])

In [ ]:
# to find the index of " " in order to split the str and take only the half we need v- the nano seconds
# index=str_time.find(' ') not needed
arr=str_time.split(sep=' ')
str_time=arr[1]

In [ ]:
str_time # now that we know how to do it, we will use it when we will work with all the tables

In [ ]:
################################### deleted the main function here

In [ ]:
convert_to_float(df,' Time')

In [ ]:
df[' Time']

In [ ]:
df

In [ ]:
df_time.index

In [ ]:
df

In [ ]:
df[' Time'][1]

In [ ]:
for i in df[' Time']:
    print(i)

In [ ]:
def convert_to_str_check(df):
    i=0
    for time in df[' Time']:
        
        time=str(time) # in order to slice the year month day
        arr=time.split(sep=' ')
        time=arr[1]
        print(time) # for checking
        df[' Time'][i]=time
        i=i+1
    return df[' Time']

In [ ]:
convert_to_str_check(df)

In [ ]:
df['Time_Test_datetime']=pd.to_datetime(df[' Time'])
# call the func
# df['Time_Test']=df[' Time']
df['Time_Test_str']=convert_to_str(df)
df

In [ ]:
#d=pd.date_range(start = df[' Time'][0], end=df[' Time'][len(df)-1] )

## in order to know how to handle the data:

In [ ]:
df.dtypes

In [ ]:
# change the data of columns from str to int
df['X']=df['X'].astype(float)
df[' Y']=df[' Y'].astype(float)

In [ ]:
df.columns

In [ ]:
df

In [ ]:
max(df['X'])

In [ ]:
min(df[' Pressure'])

In [ ]:

# in order to see the image from afar, i.e the whole drawing, we need to put limits
plt.xlim(min(df['X'])-100,max(df['X'])+100)
plt.ylim(min(df[' Y'])-100,max(df[' Y'])+100)
plt.plot(df['X'],df[' Y'])
# plt.scatter(df['X'],df[' Y'],df[' Time'])
plt.show()

In [ ]:
plt.xlim(min(df['X'])-100,max(df['X'])+100)
plt.ylim(min(df[' Y'])-100,max(df[' Y'])+100)
plt.scatter(df['X'],df[' Y'])
# plt.scatter(df['X'],df[' Y'],df[' Time'])
plt.show()

In [ ]:
# x = df['X']
# y = df[' Y']

# fig = plt.figure()
# plt.xlim(float(df['X'].min())-100 , float(df['X'].max()) + 100)
# plt.ylim(float(df[' Y'].min())-100 , float(df[' Y'].max()) + 100)
# graph, = plt.plot([], [], 'o' ,markersize=8)
# plt.gca().invert_yaxis()
# def animate(i):
#     graph.set_data(x[:i+1], y[:i+1])
#     return graph

# ani = FuncAnimation(
# fig, animate, frames=len(df), interval=10)
# plt.show()

In [ ]:
# plt.xlim(min(df['X'])-100,max(df['X'])+100)
# plt.ylim(min(df[' Time'])-100,max(df[' Time'])+100)
# # plt.plot(df['X'],df[' Y'])

# plt.scatter(df['X'],df[' Time'])

# plt.show()

In [ ]:
# plt.scatter(df[' Y'],df[' Time'])
# # plt.scatter(df['X'],df[' Y'],df[' Time'])
# plt.show()

In [ ]:
l=df['X'].min()

In [ ]:
float(l)

In [ ]:
# function that imports each table from a specific folder and creates a data frame for each folder
def import_tables(num_folder):
    main_df = {}
    for num_table in range (1,22):
        
        
#        print("table number:",num_table)
        print()
        f= open('task4_train'+'/'+num_folder+'/SimpleTest/'+str(num_table)+'.csv')
        df=pd.read_csv(f)
        df=df.dropna() # taking care of null values
        tempx=df['X']
        tempy=df[' Y']
        main_df[num_table]=df
        print()
        

    return main_df
    
 #   ax.set(xlim=(xmin, xmax), ylim=(ymin, ymax))

In [ ]:
df1=import_tables('7554') # change name to folders
df2=import_tables('7556')
df3=import_tables('7557')
df4=import_tables('7558')
df5=import_tables('7559')
df6=import_tables('7560')
df7=import_tables('7561')
df8=import_tables('7563')
df9=import_tables('7569')
df10=import_tables('7570')
df11=import_tables('7571')
df12=import_tables('7572')
df13=import_tables('7573')
df14=import_tables('7574')

In [ ]:
df7[1][' Pressure'].min()

In [ ]:
df1[1]

In [ ]:
df8

In [ ]:
# function for visualisation of each table in the specific folder
def show_draw(num_folder):
    for num_table in range (1,21):
        print()
        print("table number:",num_table)
        print()
        f= open('task4_train'+'/'+num_folder+'/SimpleTest/'+str(num_table)+'.csv')
        df=pd.read_csv(f)
        df=df.dropna()
#         tempx=df['X']
#         tempy=df[' Y']
#         change data from str to float
        df['X']=df['X'].astype(float)
        df[' Y']=df[' Y'].astype(float)
        plt.xlim(min(df['X'])-100,max(df['X'])+100)
        plt.ylim(min(df[' Y'])-100,max(df[' Y'])+100)
        plt.scatter(df['X'],df[' Y'])
#         plt.scatter(tempx,tempy)
    
        plt.show()
        print(df)

    
 #   ax.set(xlim=(xmin, xmax), ylim=(ymin, ymax))

In [ ]:
show_draw('7554')
# show_draw('7556')
# show_draw('7557')
# show_draw('7558')
# show_draw('7559')

Strating to build the algorytm:

points of thought:

* minimun pressure might hint if the child raised his hand during the drawing. we will make a thresold depending on patterns we will try to detect.
להמשיך עם הרעיון הזה ,למצוא את הממוצע של ערך מינימלי של לחץ בכל הטבלאות בתיקייה אחת, ואז לעשות  לפי זה את הטווח

* x, y and time table - make a column of the diferrences, so we can try to find a pattern - when a line is drawn, when we are moving on to the next line and etc

* make a velocity column?

In [ ]:
import statistics

In [ ]:
def is_raise_hand(num_folder):
    for num_table in range (1,21):
        f= open('task4_train'+'/'+num_folder+'/SimpleTest/'+str(num_table)+'.csv')
        df=pd.read_csv(f)
        min_table=min(df[' Pressure'])
        print(min_table)
#         print(statistics.fmean(df[' Pressure']))
#         print(statistics.fmean((min(df[' Pressure']))))

In [ ]:
folder1=is_raise_hand('7554') # change name to folders
folder2=is_raise_hand('7556')
#df3=import_tables2('7557')
#df4=import_tables2('7558')
#df5=import_tables2('7559')

# change time columns from str to date time/ float - it is recomended to convert to date time! more manipulations

In [ ]:
def str_to_float(time_column):
    convert_float=0.0
    for time in time_column:
        flag_dot=False
        flag_colon=False
        flag_not_zero=False
        for i in range(1,len(time)):
# mabye not needed
             if(time[i] ==':'):
                    flag_colon=True
             elif(time[i] == "."):
                flag_dot=True
                convert_float=float(convert_float)
             elif time[i]!=0 & (flag_dot is not True) :
                flag_not_zero=True # we already found a number that isn't 0
                convert_float=(convert_float*10)+int(time[i])
             elif time[i]!=0 & (flag_dot is True):
                    count=1
                    convert_float=convert_float+(float(time[i])/(10*count)) # add fractions
                    count=count+1
             elif time[i]==0 & (flag_not_zero is True):# now we can't ignore the zeros  
                 convert_float=(convert_float*10)+int(time[i])
    return convert_float

In [ ]:
str_to_float(df1[1][' Time'])

In [ ]:
print(format(432.456, ".2f").atype)

In [ ]:
for time in df1[1][' Time']:
    for i in range(1,len(time)):
        count=1
        
        print(float(i)+(float(time[i])/(10*count)))
        count=count+1

In [ ]:
# import datetime as datetime
# date_time_obj = datetime.strptime(date_time_str, '%H:%M:%S')

# # a=datetime.datetime.time(df[' Time'][1])
# # a

In [ ]:
# animation function - recreation of the drawing

x = df['X']
y = df[' Y']

fig = plt.figure()
plt.xlim(df['X'].min()-100 , df['X'].max() + 100)
plt.ylim(df[' Y'].min()-100 , df[' Y'].max() + 100)
graph, = plt.plot([], [], 'o' ,markersize=8)
plt.gca().invert_yaxis()
def animate(i):
    graph.set_data(x[:i+1], y[:i+1])
    return graph

ani = FuncAnimation(
fig, animate, frames=len(df), interval=10)
plt.show()

# טיוטה

In [ ]:
#df = pd.read_csv("task4_train"

In [ ]:

# # Import Module
# import os
  
# # Folder Path
# path = "genre_classification.ipynb"
  
# # Change the directory
# os.chdir(path)

In [ ]:
from pathlib import Path
entries=Path('genre_classification.ipynb')

In [ ]:
# for entry in entries.iterdir():
#     print(entry.name)

In [ ]:
from pathlib import Path

entries = Path('Desktop/semB_project/task4_train/')
for entry in entries.iterdir():
    print(entry.name)

In [ ]:
for folder in path:
    os.chdir(folder)

In [ ]:
# Read text File 
def read_text_file(file_path):
    with open(file_path, 'r') as f:
        print(f.read())

In [ ]:
# iterate through all file
for file in os.listdir():
    # Check whether file is in text format or not
    if file.endswith(".txt"):
        file_path = f"{path}\{file}"

In [ ]:
# call read text file function
        read_text_file(file_path)